<ol class="carendar <%= Array.wrap(options[:class]).join(' ') %>">
  <%- calendar.days.each do |day| %>
    <li class="day">
      <div class="dayName"><%= l(day.day.to_date, format: :short) %> </div>
      <ol class="items">
        <%- day.items.each do |i| %>
          <%= content_tag 'li', {data: {start: i.start_min , duration: i.duration, offset_left: i.offset_left,  offset_right: i.offset_right}, class: ['item'] + Array.wrap(i.options[:class])} do %>
            <%= block.call(i.options).html_safe %>
          <% end %>
        <% end %>
      </ol>
    </li>
  <% end %>
</ol>

