<ol class="carendar <%= Array.wrap(options[:class]).join(' ') %>">
  <li class="legend">
      <ol class="items">
      <%- (0..23).each do |i| %>
        <%= content_tag 'li', "#{i}:00", {data: {start: i * 60, duration: i *60 + 59, }, class: 'item'}  %>
      <% end %>
      </ol>
  </li>
  <%- calendar.days.each do |day| %>
    <li class="day">
      <ol class="items">

        <%- day.items.each do |i| %>
          <%= content_tag 'li', {data: {start: i.start_min , duration: i.duration, offset_left: i.offset_left,  offset_right: i.offset_right}, class: ['item'] + Array.wrap(i.options[:class])} do %>
            <%= capture_haml(i.options, &block) %>
          <% end %>
        <% end %>
      </ol>
    </li>
  <% end %>
</ol>

